body{
    display: flex;
    background-color: rgb(218, 240, 238);
    justify-content: center;
}

form{
    text-align: center;
    height: 550px;
    width: 420px;
    background: Aqua ;
    border-radius: 10px
}

input{
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    height: 30px;
}

.l{
    display: flex;
    padding-left: 60px;
    transform: translateY(-20px) translateX(60px);
}

#W{
    transform: translateY(-87px) translateX(180px);
}

.pol{
    display: flex;
    transform: translateX(157px) translateY(-53px);
    width: 20px;
}

#w{
    transform: translateX(270px) translateY(-121px);
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-160px) translateX(15px);
}

.check input{
    transform: scale(.6);
}

#text{
    min-width: max-content;
    transform: translateX(-85px);
}
.check.box{
    width: 40px;
    height: 20px;
    border: 2px solid black;
}

button{
    border-radius: 40px;
    width: 100%;
    height: 40px;
    transform: translateY(-160px);
    background-color: #fff;
    border: none;
}